# Sanity Configuration
NEXT_PUBLIC_SANITY_PROJECT_ID=YOUR_SANITY_PROJECT_ID
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_TOKEN=YOUR_SANITY_API_TOKEN

# Optional: Vercel Preview URL for ISR
VERCEL_URL=https://sneakerslite.com
